.Home {
    width: 1152px;
    height: 700px;
    background-color: var(--white);
    margin: 0 auto 0 auto;
}

.Span-Home {
    position: absolute;
    margin-left: 368px;
    margin-top: 244px;
}

.Span-Search {
    position: absolute;
    margin-left: 201px;
    margin-top: 325px;
}